body {
  overflow: hidden; 
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  letter-spacing: 1px;
  margin-left: 20px;
}

.manifest-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;  
  padding-top: 5vh;   
  height: 100vh;
  gap: 20px;  
}

#text-box {
  width: 300px;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
   
}

#next-move-screen {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  letter-spacing: 1px;
  margin-left: 20px;
  max-height: 25vh;      
  overflow-y: auto;       
    
  margin-top: 20px; 
}

#next-move-screen p{
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  letter-spacing: 1px;
  margin-left: 20px;
}



.program-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

#ShipBox {
  border: 2px solid black;
}

